{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<header class="row">
		<div class="span12">
			<h1><a href=".">{{ block('title') }}</a></h1>
		</div>
	</header>

	<div id="main" class="row">
	{% block main %}
		<div class="span3">
		{% block sidebar %}
			<h4>Busquedas Guardadas</h4>
			<div class="well" style="padding: 10px 0;">
				<ul id="search-saved" class="nav nav-list">
					<li class="nav-header">Series</li>
				{% for item in search_saved %}
					<li><a href="proce.php?accion=search&amp;q={{ item|lower }}" data-q="{{ item|lower }}">{{ item }}</a></li>
				{% endfor %}
					<li class="nav-header">Animes</li>
				{% for item in search_saved_anime %}
					<li><a href="proce.php?accion=search&amp;q={{ item|lower }}" data-q="{{ item|lower }}">{{ item }}</a></li>
				{% endfor %}
				</ul>
			</div>
		{% endblock %}
		</div>
		<div class="span9">{% block content %}{% endblock %}</div>
	{% endblock %}
	</div>

	<footer class="row">
		<div class="span12">
			<hr>
			<p>&copy; Todos los derechos reservados</p>
		</div>
	</footer>
</div>
{% endblock %}